/*...................BASICS.....................*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*...................SHARED.....................*/

.navigation,
.hero-image,
.birds-image {
    border-radius: 10px;
}

.navigation,
.hero-section,
.content {
    margin: 1rem 2rem 0 2rem;
}

/*...................NAVIGATION.....................*/

.navigation {
    background: #F08D8F;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    display: inline-block;
}

.navigation ul a:hover {
    color: #F8C9CA;
}

/*...................MAIN.....................*/


/*...................hero section.....................*/

.hero-section {
    position: relative;
}

.hero-img-container {
    width: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.hero-text {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: white;
}

.hero-text div {
    font-size: 16px;
}

.hero-text h1 {
    font-size: 32px;
}

/*...................content.....................*/

.birds-img-container {
    width: 50%;
}

.birds-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*...................MEDIA QUERIES.....................*/

/*..............zariadenia 0-576px.....................*/

@media (max-width: 576px) {
    .menu-icon {
        width: 2rem;
    }

    .navigation {
        height: 2.5rem;
    }

    .navigation a {
        padding: 0;
        float: right;
        margin: 2px 5px 0 0;
    }

    .navigation ul {
        display: none;
    }

    .hero-text div {
        font-size: 12px;
    }

    .hero-text h1 {
        font-size: 20px;
    }

    .birds-img-container {
        width: 100%;
    }

    .birds-image {
        height: 45vh;
        object-position: right;
    }

    .hero-image {
        height: 65vh;
    }

}

/*..............zariadenia 576-768px.....................*/

@media (min-width: 576px) {
    .hero-text div {
        font-size: 13px;
    }

    .hero-text h1 {
        font-size: 26px;
    }

    .mobile-menu {
      display: none;   
    }
}
    

/*..............zariadenia 768-992px.....................*/

@media (min-width: 768px) {
    .navigation a {
        padding: 1rem 3rem;
        font-size: 16px;
    }

    .hero-text div {
        font-size: 16px;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .mobile-menu {
        display: none;   
      }
}

/*..............zariadenia 992-1200px.....................*/

@media (min-width: 992px) {
    .navigation a {
        padding: 1rem 4rem;
        font-size: 18px;
    }

    .hero-text div {
        font-size: 18px;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .mobile-menu {
        display: none;   
      }
}

/*..............zariadenia 1200+ px.....................*/

@media (min-width: 1200px) {
    .navigation a {
        padding: 1rem 5rem;
        font-size: 20px;
    }

    .hero-text div {
        font-size: 22px;
    }

    .hero-text h1 {
        font-size: 44px;
    }

    .mobile-menu {
        display: none;   
      }
}