/*...................BASICS.....................*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid purple;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*...................SHARED.....................*/

.navigation,
.hero-image,
.birds-image {
    border-radius: 10px;
}

.navigation,
.hero-section,
.content {
    margin: 1rem 2rem 0 2rem;
}

/*...................NAVIGATION.....................*/

.navigation {
    background: #F08D8F;
    color: white;
    font-weight: 700;
}

/*...................MAIN.....................*/


/*...................hero section.....................*/

.hero-img-container {
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*...................content.....................*/

.birds-img-container {
    width: 50%;
}

.birds-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}